@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: Montserrat;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
h3{
    margin-top: 70px;
    font-size: 24pt;
    line-height: 44pt;
    font-weight: bold;
    color: #3e4d52;
    text-transform: uppercase;
}
.zoom{
    overflow: hidden;
    display: block;
    img{
        transition: 0.3s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.3);
        }
    }
}

//color
$colorBlue: #0d67c8;
$colorYellow: #efa00b;
$colorGray: #868080;
$colorGrayDark: #3e4d52;



@mixin d-flex {
    display: flex;
    justify-content: space-between;
}
@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}



//respon
$res_359 : "only screen and (max-width: 359px)";
$res_768 : "only screen and (min-width: 360px) and (max-width: 768px)";
$res_1024 : "only screen and (min-width: 769px) and (max-width: 1024px)";
$res_1440 : "only screen and (min-width: 1025px) and (max-width: 1440px)";
$res_1441 : "only screen and (min-width: 1441px)";

@mixin responsive_359() {
    @media #{$res_359} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}
@mixin responsive_1440() {
    @media #{$res_1440} {
        @content;
    }
}
@mixin responsive_1441() {
    @media #{$res_1441} {
        @content;
    }
}